.box{

    width: 400px;
    height: 200px;
    border: 5px red solid;
    overflow: scroll;
}

.box2{

    width: 400px;
    height: 200px;
    border: 5px rgb(74, 36, 240) solid;
} 

.images .logo{

    width: 100px;
    height: 100px;
}